<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        Login de la Ticketera 
    </header>
    <main>
        <div id="contenedorCompletoFormularioLogin">
            <div id="contenedorTituloLogin">
                <h3>
                    Inicia Sesion
                </h3>
            </div>
            <div id="contenedorFormularioLogin">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Iniciar Sesión</button>
                </form> 
            </div>
            {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        
    </main>
</body>
</html>